<?xml version="1.0" encoding="utf-8"?>
<!-- 
/*
 * Copyright (C) 2012 The Serval Project
 *
 * This file is part of the Serval Maps Software
 *
 * Serval Maps Software is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this source code; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.servalproject.maps"
    android:versionCode="2"
    android:versionName="0.3" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

    <!-- uses features -->
    <uses-feature android:required="true" android:name="android.hardware.location.gps"/>
    <uses-feature android:required="true" android:name="android.hardware.wifi"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <!-- uses permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <uses-permission android:name="org.servalproject.rhizome.ADD_FILE"/>
    <uses-permission android:name="org.servalproject.rhizome.RECIEVE_FILE"/>
    
    <uses-permission android:name="org.servalproject.maps.MAP_DATA"/>
    <uses-permission android:name="org.servalproject.maps.provider.READ_ITEMS"/>
    <uses-permission android:name="org.servalproject.maps.provider.WRITE_ITEMS"/>
    
    <!-- custom permissions -->
    <permission 
        android:description="@string/system_permission_map_data_description" 
        android:protectionLevel="normal" 
        android:name="org.servalproject.maps.MAP_DATA" 
        android:label="@string/system_permission_map_data_label">
    </permission>
    <permission 
        android:label="@string/system_permission_provider_read_map_items_label" 
        android:protectionLevel="signature" 
        android:description="@string/system_permission_provider_read_map_items_description" 
        android:name="org.servalproject.maps.provider.READ_ITEMS">
    </permission>
    <permission 
        android:label="@string/system_permission_provider_write_map_items_label" 
        android:protectionLevel="signature" 
        android:description="@string/system_permission_provider_write_map_items_description" 
        android:name="org.servalproject.maps.provider.WRITE_ITEMS">
    </permission>
    <permission 
        android:name="org.servalprokect.maps.provider.READ_POI_ITEMS" 
        android:label="@string/system_permission_provider_read_poi_items_label" 
        android:description="@string/system_permission_provider_read_poi_items_description" 
        android:protectionLevel="normal">
    </permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="org.servalproject.maps.ServalMaps">
        <!-- activities -->
        <activity
            android:name=".DisclaimerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".PeerInfoActivity"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".NewPoiActivity"></activity>
        <activity android:name=".PoiInfoActivity"></activity>
        <activity android:name=".PoiListActivity"></activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".ExportActivity"></activity>
        <activity android:name=".DeleteActivity"></activity>
        <activity android:name=".StatsActivity"></activity>
        
        <!-- services -->
        <service 
            android:name=".services.MapDataService"
            android:permission="org.servalproject.maps.MAP_DATA" 
            android:exported="true">
            <intent-filter>
                <action android:name="org.servalproject.maps.MAP_DATA" />
            </intent-filter>
        </service>
        <service android:name=".services.CoreService"></service>
        
        <!-- provider -->
        <provider 
            android:authorities="org.servalproject.maps.provider.items" 
            android:enabled="true" 
            android:name=".provider.MapItems" 
            android:writePermission="org.servalproject.maps.provider.WRITE_ITEMS" 
            android:exported="true" 
            android:description="@string/system_provider_map_items_description" 
            android:label="@string/system_provider_map_items_label" 
            android:readPermission="org.servalproject.maps.provider.READ_ITEMS">
            <path-permission 
                android:pathPattern="org.servalproject.maps.provider.items/poi/*" 
                android:readPermission="org.servalprokect.maps.provider.READ_POI_ITEMS"/>
        </provider>
        
        <receiver android:name=".rhizome.RhizomeBroadcastReceiver">
            <intent-filter>
                <action android:name="org.servalproject.rhizome.RECIEVE_FILE"/>
                <data android:scheme="content"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>